$colors: red;
// Map 
$colors: (
    "primary": #09c,
    "dark": #313131,
    "default": #fff,
    "danger": #cc0022,
    "success": #00cc00
);

// For Loop
@each $key,$value in $colors {
    .text-#{$key} {
        color: $value;
    }
    .bg-#{$key} {
        background-color: $value;
    }
    .btn-#{$key} {
        background-color: $value;
    }
}

$font-weights: (
    "bold": 900,
    "default": 400,
    "light": 100
);

.test {
    font-weight: map-get($font-weights , "bold" );
}

@each $key,$value in $font-weights {
    .fw-#{$key} {
        font-weight: $value;
    }
}