$colors: red;
// Map 
$colors: (
    "primary": #09c,
    "dark": #313131,
    "default": #fff,
    "danger": #cc0022,
    "success": #00cc00
);

// For Loop
@each $key,$value in $colors {
    @for $i from 1 to 6 {
        .bg-#{$key}-light-#{$i} {
            background-color: rgba($color: $value, $alpha: $i/10);
        }
    }
    .text-#{$key} {
        color: $value;
    }
    .bg-#{$key} {
        background-color: $value;
    }
    .btn-#{$key} {
        background-color: $value;
    }
}

$font-weights: (
    "bold": 900,
    "default": 400,
    "light": 100
);

.test {
    font-weight: map-get($font-weights , "bold" );
}

@each $key,$value in $font-weights {
    .fw-#{$key} {
        font-weight: $value;
    }
}

@for $i from 1 to 9 {
    .child#{$i} {
        background-color: rgba($color: #09c, $alpha: $i/10);
        height: 50px;
        margin: 3px auto;
        width: 300px + ($i *100);

    }

}